@import "tailwindcss";

body {
    background-color: #0f0f12;
}

/* Paleta de colores  */
.text-primary {
    color: #7f13ec;
}

.text-primary-hover {
    color: #6a0fcf;
}

.bg-light {
    background-color: #f7f6f8;
}

.bg-dark {
    background-color: #0f0f12;
}

.bg-surface-dark {
    background-color: #1a1625;
}

.bg-surface-dark-highlight {
    background-color: #2a2438;
}

.bg-image-detail {
    background-color: #1a162585;
}

/* Estiloa para la barra lateral del overflow */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, 0.5); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a855f7; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9333ea; 
}