@import "tailwindcss";

body {
    background-color: #0f0f12;
}

/* Paleta de colores  */
.text-primary {
    color: #7f13ec;
}

.text-primary-hover {
    color: #6a0fcf;
}

.bg-light {
    background-color: #f7f6f8;
}

.bg-dark {
    background-color: #0f0f12;
}

.bg-surface-dark {
    background-color: #1a1625;
}

.bg-surface-dark-highlight {
    background-color: #2a2438;
}

.bg-surface-dark-highlight:hover {
    background-color: #382e50;

}

.bg-image-detail {
    background-color: #1a162585;
}

.bg-surface-dark-btn {
    background-color: #1a1625;
}

.bg-surface-dark-btn:hover {
    background-color: #231e30;
}

/* Estiloa para la barra lateral del overflow */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, 0.5); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a855f7; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9333ea; 
}

/* Animaciones  */
.animated-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards
}

.animated-slideIn {
    animation: slideIn 0.3s ease-in-out forwards
}

.animated-slideInTop {
    animation: slideInTop 0.4s ease-in-out forwards
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}